<p> <b> <font color="navy" size="4">Dodaj budynek</font> </b> </p>
<form action="" method="post" enctype="multipart/form-data">
       
	<input type="text" name="_name" placeholder="Nazwa budynku">

	<div id="building_floors">
		<input id="add_floor" type="button" value="Dodaj piętro">
	</div>

	<input type="text" name="lat" placeholder="Szerokość geograficzna">
	<input type="text" name="lon" placeholder="Długość geograficzna">
	<input type="submit">
</form>
<script src="/media/assets/js/jquery.min.js"></script>
<script src="/media/assets/js/addBuilding.js"></script>