<!-- Linijka ponizej usuwa czarny obrazek. WYMIARY OBRAZKA 1038x437  (437) moze byc wieksyz mniejszy px -->
<form action="" method="POST">
<input type="hidden" id="first" name="first_pin" >
<input type="hidden" id="second" name="second_pin" >
<input type="submit" value="OK">

</form>

<a  class="image featured">


	<div class="mapka">
		<div class="sciezka">
			<svg height="100%" width="100%">
			::pins::
			::paths::
			</svg>
		</div>
		
		<div>
			<img src="/media/::image::" width="100%" class="zdjecieMapki" />
		</div>
	</div>
</a>
