<!DOCTYPE HTML>

<html>
	<head>
		<title>Nawigacja PRZ</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/media/assets/css/main.css" />
		</head>
	<body>

		<!-- Content -->
			<div id="content">
				<div class="inner">

					<!-- Post -->
						<article class="box post post-excerpt">
							<header>
								
							<h2>Nawigacja PRZ</h2>
								<p>	<font color=#273758> Kieruj się do budynku, którego szukasz!</font></p>
							</header>
							
							<form action="" method="get">
							<input type="submit" name="logout" value="Wyloguj">
							</form>

						</article>
				</div>
			</div>

		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
					<h1 id="logo"><a href="/">NAWIGACJA PRZ</a></h1>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li"><a href="/map">Map</a></li>
							<li><a href="/buildingMap">Building Map</a></li>
							<li><a href="/pinSearch">Pin Search</a></li>
						
						</ul>
					</nav>

				

				<!-- Text -->
					<section class="box text-style1">
						<div class="inner">
								<p>
							<strong>	Przykladowy tekst ktory mozna zamiescic informujacy o politechnice </strong>
							</p>
						</div>
					</section>

			
			
				
		<!-- Scripts -->
			<script src="/media/assets/js/jquery.min.js"></script>
			<script src="/media/assets/js/skel.min.js"></script>
			<script src="/media/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/media/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/media/assets/js/main.js"></script>

	</body>
</html>
	
