www/config/databaseConfig.json
*.iml
android/.gradle
android/local.properties
android/.idea/workspace.xml
android/.idea/libraries
andorid/.DS_Store
android/build
android/captures
android/.externalNativeBuild


android/app/src/main/java/com/example/gloxiak/menu/BuildingActivity.java
