<p>
	!!!!W CZARNYM POLU JESW MIEJSCE NA BUDYNEK LUB COS INNEGO!!!!
</p>

<!-- Linijka ponizej usuwa czarny obrazek. WYMIARY OBRAZKA 1038x437  (437) moze byc wieksyz mniejszy px -->
<a  class="image featured"><img src="media/pic01.jpg" alt="" /></a>
							
<p>
	PRZYKLADOWY OPIS PRZ PRZYKLADOWY OPIS PRZ PRZYKLADOWY OPIS PRZ PRZYKLADOWY OPIS PRZ 
	PRZYKLADOWY OPIS PRZ PRZYKLADOWY OPIS PRZ PRZYKLADOWY OPIS PRZ PRZYKLADOWY OPIS PRZ 
	PRZYKLADOWY OPIS PRZ PRZYKLADOWY OPIS PRZ PRZYKLADOWY OPIS PRZ PRZYKLADOWY OPIS PRZ 
</p>
						