<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Building map view</title>
		<style>
			#building_map 
			{
				width: ::mapWidth::px;
				height: ::mapHeight::px;
				background-image: url("::currentMap::");
			}

			.pin
			{
				width: 34px;
				height: 35px;
				background-image: url("media/pin.jpg");
				position: absolute;
			}
		</style>
	</head>
	<body>
		<div id="building_map">
			<div class="pin" style="left: ::xPosition::px; bottom: ::yPosition::px;"></div>
		</div>
	</body>
</html>