<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Map view</title>
		<style>
			#map 
			{
				width: 400px;
				height: 400px;
				background-color: gray;
			}
		</style>
		
	</head>
	<body>
    	<div id="map">Map should go there</div>
		<script>
			function initMap() {
		        var uluru = {lat: 50.0188232, lng: 21.9887356};
		        var map = new google.maps.Map(document.getElementById('map'), {
		            zoom: 15,
		            center: uluru
		        });
		        var marker = new google.maps.Marker({
		            position: uluru,
		            map: map
		        });
		    }
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcwERVsQ9-u3vGi93armuqOI4lts5qqt4&callback=initMap">
		</script>
	</body>
</html>